body {
  margin: 0;
  padding: 0;
}

#App {
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#log-out {
  cursor: pointer;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.rbc-calendar {
  height: 80vh !important;
}